In [7]:
items = {
    101:{"Name": "Oranges",       "Price": 70,  "Qty": 50,  "category": "Produce"},
    102:{"Name": "Apples",        "Price": 98,  "Qty": 130, "category": "Produce"},
    103:{"Name": "Bananas",       "Price": 45,  "Qty": 145, "category": "Produce"},
    104:{"Name": "Lettuce",       "Price": 34,  "Qty": 53,  "category": "Produce"},
    105:{"Name": "Tomatoes",      "Price": 67,  "Qty": 60,  "category": "Produce"},
    106:{"Name": "Squash",        "Price": 23,  "Qty": 70,  "category": "Produce"},
    107:{"Name": "Celery",        "Price": 21,  "Qty": 13,  "category": "Produce"},
    108:{"Name": "Cucumber",      "Price": 28,  "Qty": 49,  "category": "Produce"},
    109:{"Name": "Mushrooms",     "Price": 78,  "Qty": 67,  "category": "Produce"},
    110:{"Name": "Milk",          "Price": 65,  "Qty": 120, "category": "Dairy"},
    111:{"Name": "Cheese",        "Price": 120, "Qty": 230, "category": "Dairy"},
    112:{"Name": "Eggs",          "Price": 72,  "Qty": 231, "category": "Dairy"},
    113:{"Name": "Cottage Cheese","Price": 240, "Qty": 156, "category": "Dairy"},
    114:{"Name": "Sour cream",    "Price": 210, "Qty": 78,  "category": "Dairy"},
    115:{"Name": "Yogurt",        "Price": 55,  "Qty": 94,  "category": "Dairy"},
    116:{"Name": "Beef",          "Price": 350, "Qty": 52,  "category": "Meat"},
    117:{"Name": "Poultry",       "Price": 290, "Qty": 70,  "category": "Meat"},
    118:{"Name": "Ham",           "Price": 250, "Qty": 25,  "category": "Meat"},
    119:{"Name": "Seafood",       "Price": 430, "Qty": 98,  "category": "Meat"},
    120:{"Name": "Soda",          "Price": 150, "Qty": 180, "category": "Drinks"},
    121:{"Name": "Juice",         "Price": 40,  "Qty": 60,  "category": "Drinks"},
    122:{"Name": "Coffee",        "Price": 230, "Qty": 345, "category": "Drinks"},
    123:{"Name": "Tea",           "Price": 140, "Qty": 329, "category": "Drinkse"},
    124:{"Name": "Water",         "Price": 30,  "Qty": 230, "category": "Drinks"},
    125:{"Name": "Noodles",       "Price": 50,  "Qty": 89,  "category": "Pasta"},
    126:{"Name": "Rice",          "Price": 970, "Qty": 100, "category": "Pasta"},
    
}

In [8]:
import json

In [9]:
js = json.dumps(items)

In [10]:
fd = open("items.json", "w")
fd.write(js)
fd.close

Items Bill

In [11]:
ui_product = int(input("Enter product ID: "))
ui_qty = int(input("Enter Quantity: "))

product = items.get(ui_product)

if product:
  print("Product Name: ", product.get("Name"))
  print("Price per unit: ", product.get("Price"))
  print("Total amount to pay: ", ui_qty*product.get("Price"))
  product["Qty"] -= ui_qty

else:
  print("Item not found")

Enter product ID: 119
Enter Quantity: 54
Product Name:  Seafood
Price per unit:  430
Total amount to pay:  23220

# New Section

Read Data

In [12]:
fd = open("items.json", "r")
r = fd.read()
fd.close()

In [18]:
items

{101: {'Name': 'Oranges', 'Price': 70, 'Qty': 50, 'category': 'Produce'},
 102: {'Name': 'Apples', 'Price': 98, 'Qty': 130, 'category': 'Produce'},
 103: {'Name': 'Bananas', 'Price': 45, 'Qty': 145, 'category': 'Produce'},
 104: {'Name': 'Lettuce', 'Price': 34, 'Qty': 53, 'category': 'Produce'},
 105: {'Name': 'Tomatoes', 'Price': 67, 'Qty': 60, 'category': 'Produce'},
 106: {'Name': 'Squash', 'Price': 23, 'Qty': 70, 'category': 'Produce'},
 107: {'Name': 'Celery', 'Price': 21, 'Qty': 13, 'category': 'Produce'},
 108: {'Name': 'Cucumber', 'Price': 28, 'Qty': 49, 'category': 'Produce'},
 109: {'Name': 'Mushrooms', 'Price': 78, 'Qty': 67, 'category': 'Produce'},
 110: {'Name': 'Milk', 'Price': 65, 'Qty': 120, 'category': 'Dairy'},
 111: {'Name': 'Cheese', 'Price': 120, 'Qty': 230, 'category': 'Dairy'},
 112: {'Name': 'Eggs', 'Price': 72, 'Qty': 231, 'category': 'Dairy'},
 113: {'Name': 'Cottage Cheese',
  'Price': 240,
  'Qty': 156,
  'category': 'Dairy'},
 114: {'Name': 'Sour cream', 'Price': 210, 'Qty': 78, 'category': 'Dairy'},
 115: {'Name': 'Yogurt', 'Price': 55, 'Qty': 94, 'category': 'Dairy'},
 116: {'Name': 'Beef', 'Price': 350, 'Qty': 52, 'category': 'Meat'},
 117: {'Name': 'Poultry', 'Price': 290, 'Qty': 70, 'category': 'Meat'},
 118: {'Name': 'Ham', 'Price': 250, 'Qty': 25, 'category': 'Meat'},
 119: {'Name': 'Seafood', 'Price': 430, 'Qty': 44, 'category': 'Meat'},
 120: {'Name': 'Soda', 'Price': 150, 'Qty': 180, 'category': 'Drinks'},
 121: {'Name': 'Juice', 'Price': 40, 'Qty': 60, 'category': 'Drinks'},
 122: {'Name': 'Coffee', 'Price': 230, 'Qty': 345, 'category': 'Drinks'},
 123: {'Name': 'Tea', 'Price': 140, 'Qty': 329, 'category': 'Drinkse'},
 124: {'Name': 'Water', 'Price': 30, 'Qty': 230, 'category': 'Drinks'},
 125: {'Name': 'Noodles', 'Price': 50, 'Qty': 89, 'category': 'Pasta'},
 126: {'Name': 'Rice', 'Price': 970, 'Qty': 100, 'category': 'Pasta'}}

Add items

In [19]:
Item_ID = input("Enter the product ID: ")
Name = input("Enter the name of the item: ")
Price = int(input("Enter the price per item: "))
Qty = int(input("Enter the quantity of the products you want to add: "))
Category = input("Enter the category of the product: ")
items[Item_ID] = {"Name": Name, "Price": Price, "Qty": Qty, "category": Category}

js = json.dumps(items)
fd = open("items.json", "w")
fd.write(js)
fd.close()

Enter the product ID: 109
Enter the name of the item: Mushrooms
Enter the price per item: 78
Enter the quantity of the products you want to add: 34
Enter the category of the product: Produce